* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
}

.header {
    height: 80px;
    width: 100%;
    background: #414b53;
    opacity: 0.8;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header span {
    color: #4bcaff;

}

.head-right {
    display: flex;
    align-items: center;
    gap: 45px;
    font-weight: bolder;
    list-style: none;
}

.head-right li button {
    border: 3px solid #4bcaff;
    background-color: #424c55;
    color: #4bcaff;
    padding: 7px 20px;
    font-size: 16px;
    font-weight: bolder;
}

/* image section */
.img-section {
    position: relative;
    background-image: url("./assests/images.jpeg");
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: space-between; */
    color: #fff;
    /* padding: 20px;  */
}
.img-section .contant{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.contant{
    position: absolute;
    top: 43%;    
}

.contant h2{
    font-size: xx-large;
}

/* responsiveness media qures */
.services-section{
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    background-color: #4bcaff;
}
.service h2{
    position: absolute;
    color: #e2f6ff;
    left: 3rem;
    top: 2rem;
}
.boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
   margin-top:4rem;

}
.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #e2f6ff;
    /* margin: 12px; */
}
.box img{
    height: 5rem;
    width: 5rem;
}