* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
}

.header {
    height: 80px;
    width: 100%;
    background: #424c55;
    opacity: 0.8;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header span {
    color: #4bcaff;

}

.head-right {
    display: flex;
    align-items: center;
    gap: 45px;
    font-weight: bolder;
    list-style: none;
}

.head-right li button {
    border: 1px solid #4bcaff;
    background-color: #424c55;
    color: #4bcaff;
    padding: 9px 26px;
    font-size: 16px;
}

/* image section */
.img-section {
    background-image: url("./assests/Buffalo_Grass_2-20-14.webp");
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: space-between; */
    color: #fff;
    /* padding: 20px;  */
}
.img-section .contant{
    display: flex;
    flex-direction: column;
    
}
.contant{
    
    margin: calc(center);
}

.contant h2{
/* margin: 30px; */
}

/* responsiveness media qures */

