* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
}

.header {
    height: 80px;
    background: #424c55;
    color: #e0e8ef;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head-right {
    display: flex;
    align-items: center;
    gap: 45px;
    font-weight: bolder;
    list-style: none;
}

.head-right li button {
    padding: 6px;
    border: 1px solid #4d96b4;
    background: #424c55;
    color: #4d96b4;
}

/* button ke properties */
/* background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; */